<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47925585272-i4h2ul4nqt2j3f5oflfasuqunohgpr09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47925585272-i4h2ul4nqt2j3f5oflfasuqunohgpr09</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>47925585272-l9b142lba6b3tpvop8adnku1667i3ifc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdNFT_PMyp3NIcuNBGWwMCNEyukzyoLV8</string>
	<key>GCM_SENDER_ID</key>
	<string>47925585272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-faa37</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-faa37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47925585272:ios:e881386e4f69d75f51548d</string>
</dict>
</plist>